<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('site.static', filename='foundation-6.2.3-custom/css/foundation.css') }}">
        <script src="{{ url_for('site.static', filename='foundation-6.2.3-custom/js/vendor/jquery.js') }}"></script>
        <script src="{{ url_for('site.static', filename='foundation-6.2.3-custom/js/vendor/foundation.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('site.static', filename='css/base.css') }}">
        {% endblock %}
    </head>

    <body>
        {% block body %}

        <div data-sticky-container>
            <div class="top-bar sticky" data-sticky data-options="marginTop:0;" style="width:100%">
                <div class="top-bar-left">
                    <div class="leftBarContentContainer">
                        <ul class="menu">
                            <li><a href="{{ url_for('site.home') }}" class="menu-text">Int<span class="blueText">&#x2124;</span>.io</a></li>
                        </ul>
                    </div>
                </div>

                <div class="top-bar-right">
                    <div class="rightBarContentContainer">
                        <ul class="menu">
                            <li><a href="{{ url_for('site.docs') }}" class="button blueOutline fadeToBlue noRightBorder">Docs</a></li>
                            {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('site.dashboard') }}" class="button blueOutline fadeToBlue noLeftRightBorder">Dashboard</a></li>
                            <li><a href="{{ url_for('site.logout') }}" class="button blueOutline fadeToBlue noLeftBorder">Logout</a></li>
                            {% else %}
                            <li><a href="{{ url_for('site.join') }}" class="button blueOutline fadeToBlue noLeftRightBorder">Join</a></li>
                            <li><a href="{{ url_for('site.login') }}" class="button blueOutline fadeToBlue noLeftBorder">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}

        <script>
          $(document).foundation();
        </script>

    </body>
</html>
