<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Join</h2>
    <form method="POST" action="/join">
        Username:<br>
        <input type="text" name="username"><br>
        Email:<br>
        <input type="email" name="email"><br>
        Password:<br>
        <input type="password" name="password"><br>
        Confirm Password:<br>
        <input type="password" name="password_confirm"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
