{% extends "base.html" %}


{% block head %}
{{ super() }}

<title>Login</title>
<link rel="stylesheet" href="{{ url_for('site.static', filename='css/login.css') }}">

{% endblock %}


{% block body %}
{{ super() }}

<div id="loginLayout" class="row fullWidth align-middle">
    <div id="form" class="column large-5">
        <h2>Login</h2>
        <form method="POST" action="/login">
            Username:<br>
            <input type="text" name="username"><br>
            Password:<br>
            <input type="password" name="password"><br>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>

    <div id="sideBanner" class="column large-7">
        <div class="row align-middle">
            <div class="column large-12">
                <h1 class="bannerText">Your &#x2124;,<br>in the cloud</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}