table tbody tr:nth-child(odd) {background-color: white;}
table tbody tr:nth-child(even) {background-color: #e8f4fd;}

#integerContainer {
    max-height: 270rem;
    overflow-y: scroll;
}

.rowFormat {
    padding: 1rem;
    margin-bottom: 2rem;
    overflow: auto;
    text-overflow: ellipsis;

    border-style: solid;
    border-width: 1px;
    border-color: #2199e8;
}

.editButton {
    float: right;
    padding: .3rem;
    margin: 0rem;

    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
    transition: all .2s ease;
}

.editButton:active {
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -ms-transition: all .2s ease; /* IE 9 */
    -o-transition: all .2s ease; /* Opera */
    transition: all .2s ease;
}

.editButton:hover {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

.redOutline {
    background: rgba(0,0,0,0);

    border-style: solid;
    border-color: red;
    border-radius: 0px;
    border-width: 1px;

    border-radius: 0px;

    color: red;

    margin-left: 0px;
}

.fadeToRed:hover {
    background-color: red;
    outline-color: red;
    outline-radius: 0;
    border-radius: 0;
    border-color: red;
    outline-color: red;
}

.fadeToRed:focus {
    background-color: red;
    outline-color: red;
    outline-radius: 0;
    border-radius: 0;
    border-color: red;
    outline-color: red;
}



.greyText {
    color: #707070;
}



#keyContainer {
    padding: 2rem;
    overflow: auto;
    text-overflow: ellipsis;

    background-color: #ddd;
}

#keyContainer p {
    height: 25px;
    padding: 0;
    margin: 0;
}
